* {
    // max-width: 1600px;
    box-sizing: border-box;
    margin:0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

p {
    font-family: 'Montserrat';
    font-style: normal;
}

div {
    display: flex;
    flex-direction:column;
    background-size: cover;
    justify-content: space-between;
}

.part2, .part3, .part4 {
    h1 {
        position: absolute;
        height: 59px;
        left: 172px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 48px;
        line-height: 59px;
        color: #000000;
    }
    
    .text {
        // position: absolute;
        height: 230px;
        margin-left: 172px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 37px;
    }
    
    button {
        position: absolute;
        width: 389px;
        height: 125px;
        left: 1094px;
        top: 502px;
        background: #3D315B;
        border-radius: 30px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        text-align: center;
        color: #FFFFFF;
    }
    
    a {
        text-decoration: none;
        color: #FFFFFF;
    }
}

.part1 {
    // background-repeat: no-repeat;

    background-image: url(https://kartinkin.net/uploads/posts/2021-07/1625826059_18-kartinkin-com-p-oboi-v-vide-ognya-krasivie-18.jpg);
    height: 711px;

    a {
        color: #EDE38E;
    }

    .logo {
        margin-left: 8.5%;
        margin-top: 39px;
        width: 172px;
        // width: 17%;
        height: 14%;
    }

    p1 {
        text-align: right;
        margin-right: 3%;
        margin-left: 8.5%;
        margin-top: 0px;
        margin-bottom: 0px;
        height: 0px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #EDE38E;
        word-wrap: break-word;
    }

    h1 {
        margin-right: 3%;
        width: 780px;
        height: 0px;
        margin-left: 8.5%;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 72px;
        line-height: 84px;
        color: #EDE38E;
    }

    p {
        height: 0px;
        width: 743px;
        margin-left: 8.5%;
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        color: #EDE38E;
    }



    .button {
        width: 389px;
        height: 125px;
        margin-left: 60%;
        background: #3D315B;
        border-radius: 30px;
        width: 389px;
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;
        color: #EDE38E;
        font-family: 'Montserrat';
        font-style: normal;

    }

}

.part2 {

    background-image: url(https://krot.info/uploads/posts/2021-01/1610490130_12-p-belii-fon-vo-ves-ekran-30.jpg);

    div{
        display: flex;
        justify-content: space-between;
    }

    .vers {
        text-align: right;
        margin-right: 3%;
        margin-left: 8.5%;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #000;
    }

    hr {
        // position: absolute;
        height: 14px;
        width: 110px;
        margin-left: 172px;
        border-radius: 30px;
        background: #3D315B;
    }

    p {
        // position: absolute;
        height: 28px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        color: #000;
    }

    .line1 {
        margin-top: 70px;
    }

    .line2 {
        margin-top: 60px;
    }

    .header1 {
        width: 460px;
        top: 830px;
    }

    .header2 {
        width: 406px;
        top: 1248px;
    }

    .text {
        width: 1256px;
        margin-top: 120px;
    }

    img {
        position: absolute;
        width: 337px;
        height: 337px;
        top: 1362px;
        border-radius: 20px;
    }

    .image1 {
        left: 207px;
    }

    .image1_name {
        width: 177px;
        left: 254px;
        top: 1645px;
    }

    .image1_arrow {
        position: absolute;
        left: 476px;
        top: 1644px;        
    }

    .image2 {
        left: 631px;
    }

    .image2_name {
        width: 205px;
        left: 681px;
        top: 1649px;
    }

    .image2_arrow {
        position: absolute;
        width: 337px;
        height: 337px;
        left: 906px;
        top: 1647px;        
    }

    .image3 {
        left: 1055px;
    }

    .image3_name {
        width: 254px;
        left: 1074px;
        top: 1650px;
        color: #000000;

    }

    .image3_arrow {
        position: absolute;
        width: 47px;
        height: 49px;
        left: 1328px;
        top: 1642px;       
    }

    .button2 {
        width: 315px;
        left: 1168px;
        top: 1802px;
    }

}

.part3 {

    img {
        position: absolute;
        width: 316.45px;
        height: 593.05px;
        top: 2582.91px;
        border-radius: 20px;
    }

    time {
        position: absolute;
        width: 79px;
        height: 19px;
        left: 484px;
        top: 3126px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #FFFFFF;
    }

    p {
        position: absolute;
        height: 116px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 37px;
        color: #FFFFFF;
    }

    svg {
        position: absolute;
        height: 33px;
        width: 29.8px;
        top: 3118px;
    }

    .fond {
        
        position: absolute;
        width: 1600px;
        height: 1472px;
        left: 0px;
        top: 2031px;
        border-radius: 0px;
    }

    .header {
        width: 298px;
        top: 2148px;
        color: #FFFFFF;
    }

    .text {
        width: 1272px;
        top: 2252px;
        color: #FFFFFF;
    }

    .arrow1 {
        position: absolute;
        width: 62px;
        height: 69px;
        left: 172px;
        top: 2841px;
    }

    .arrow2 {
        position: absolute;
        width: 62px;
        height: 69px;
        left: 1387.16px;
        top: 2845px;
    }

    .image1 {
        left: 289.38px;
    }

    .image1_name {
        width: 220.3px;
        left: 336.06px;
        top: 2661.98px;
    }

    .image1_date {
        left: 484px;
    }

    .calendar1 {
        left: 568px;
    }

    .image2 {
        left: 652.51px;
        top: 2582.91px;
    }

    .image2_name {
        width: 164px;
        left: 695px;
        top: 2975px;
        color: #000000;
    }

    .image2_date {
        left: 846px;
        color: #000000;
    }

    .calendar2 {
        left: 932px;

    }

    .image3 {
        left: 1011.9px;
    }

    .image3_name {
        width: 262px;
        left: 1053px;
        top: 2928px;
    }

    .image3_date {
        left: 1210px;
    }

    .calendar3 {
        left: 1292px;
    }

    .button3 {
        width: 538.62px;
        left: 944px;
        top: 3283px;
    }

}

.part4 {

    .header {
        width: 1311.24px;
        top: 3620px;
        color: #C83E4D;
    }

    .button4 {
        width: 418.3px;
        left: 1064.7px;
        top: 3822px;
    }

}

// media

.part1 {
    @media (min-width:1025px) {
        p1 {
            margin-top: -225px;
        }
        h1 {
            margin-top: -50px;
        }
        .button {
            margin-bottom: 50px;
        }
    }
    
    @media (max-width:1025px) {
        p1 {
            margin-top: -130px;
        }
        h1 {
            margin-top: -50px;
        }
        .button {
            display: none;
        }
    }
    
    @media (max-width:900px) {
        p1 {
            margin-top: -80px;
        }
        h1, p {
            width: 90%;
            
        }
        p {
            color: #3D315B;
            // mix-blend-mode:color-burn;
            // mix-blend-mode: hard-light;
            mix-blend-mode:multiply;
            font-family: 'Roboto';
            font-weight: bolder;
        }
        h1 {
            margin-bottom: 200px;
        }
    
    }
    
    @media (max-width:360px) {
        h1 {
            font-size: 60px;
        }
        p {
            margin-top: -40px;
            margin-bottom: 40px;
        }
    }
}